.popoverDropdown {
  background-color: var(--mantine-color-dark-7);
  border: 1.5px solid var(--mantine-color-steel-2);
}

.border {
  border: 1.5px solid var(--mantine-color-steel-0);
}

.bigTitle {
  color: var(--mantine-color-steel-0);
  font-weight: 900;
  letter-spacing: -1vw;
  font-size: 12vw;
  text-shadow: 0.75vw -0.75vw #323232;
  line-height: 0.85;
}

.sectionText {
  color: var(--mantine-color-steel-0);
  font-weight: 700;
  font-size: 1.125rem;
  text-shadow: 2px -2px #3c3c3c;
}
