.popoverDropdown {
  background-color: var(--mantine-color-dark-7);
  border: 1.5px solid var(--mantine-color-steel-2);
}

.border {
  border: 1.5px solid var(--mantine-color-steel-0);
}

.bigTitle {
  color: var(--mantine-color-steel-0);
  font-weight: 900;
  letter-spacing: -1.2vw;
  font-size: 14.5vw;
  text-shadow: 1vw -1vw var(--mantine-color-dark-5);
  line-height: 0.85;
}

.sectionText {
  color: var(--mantine-color-steel-0);
  font-weight: 700;
  font-size: 1.125rem;
  text-shadow: 2px -2px var(--mantine-color-dark-5);
}
